.orders{
    display:flex;
    justify-content:flex-start;
    background-color: #1d1a16; 
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
     color: #ffffff;
     margin:2rem 4rem;
     border-radius: 0.2rem;
     padding:2rem 
}
.orders__item{
    /* display: flex;
    flex-direction: column;
    justify-content:flex-end; */
    padding:2rem 2rem;
}
.orders__item-image{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    object-fit: cover;
}