.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
}

.nav__image img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #ffc404;
}

.nav__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav__menu a {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: aliceblue;
  text-decoration: none;
}
.nav__menu a:hover,
.nav__menu a.active {
  color: #ffc404;
}

.nav__menu_count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  right: -20px;
  top: -7px;
  background-color: #ffc404;
  font-size: 12px;
  color: black;
  font-weight: 600;
  animation: pop 0.3s ease;
}
@keyframes pop {
  0% {
    transform: scale(0.8) translateY(0);
    opacity: 0.7;
  }
  30% {
    transform: scale(1.4) translateY(-5px);
    opacity: 1;
  }
  60% {
    transform: scale(1.2) translateY(2px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .nav__menu {
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .nav__header {
    flex-direction: column;
    gap: 1rem;
  }

  .nav__menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
