.food__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
}
.food__item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.food__item img:hover {
  transform: scale(1.02);
}
.food__item a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease-in;
}
.food__item a:hover {
  transform: scale(1.05);
}
.food__item-price {
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 0.3rem;
  margin: 0.8rem 4rem;
  border-radius: 10px;
}

.food__item-action {
  cursor: pointer;
  background-color: #ffc404;
  color: black;
  border: 1px solid #ffc404;
  margin: 1rem 4rem;
  border-radius: 4px;
  padding: 0.5rem 0.2rem;
  margin: 0.3rem 6rem 0.5rem;
  font-weight: 700;
}
.food__item-action:hover {
  background-color: #e6af03;
}
@media screen and (max-width: 768px) {
  .food__item-action {
    margin: 0.3rem 3rem 0.5rem;
  }
}
