.meal-food{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:2rem 3rem;
}
.meal-food__list{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:3rem;
  width:100%
}

.meal-food__item{
  width:calc(33.33%-12rem);
  height: 33rem;
  margin:0.5rem 0rem;
  background-color: #1d1a16;
  border-radius: 1rem;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width:768px){
  .meal-food{ 
    margin:2rem 2rem;
  }
}
@media screen and (max-width:468px){
  .meal-food{ 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

  
 