.meal-food {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
}
.meal-food__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.meal-food__item {
  height: auto;
  min-height: 27rem;
  margin: 0.5rem 0rem;
  background-color: #1d1a16;
  border-radius: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .meal-food {
    margin: 2rem 2rem;
  }

  .meal-food__item {
    width: 45%;
  }
}
@media screen and (max-width: 543px) and (min-width: 468px) {
  .meal-food__item {
    width: 80%;
  }
}
@media screen and (max-width: 468px) {
  .meal-food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .meal-food__item {
    width: 90%;
    margin: 1rem 0;
  }
}
