.meal-food{
    max-width: 1000px;
    padding:20px;
    display:flex;
    justify-content: center;
  
   
}

.meal-food__list {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    gap:20px;
    padding: 0;
   
    
  }
  .meal-food__item{
    flex: 1 1 calc(33.333% - 20px);                      
    background-color: #1d1a16;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  
    
  }
  
 