.fooddetail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #1d1a16;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  width: 70%;
  height: 70vh;
  border-radius: 2rem;
  position: relative;
}
.fooddetail h2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #312c1d;
  color: #ffc404;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  left: -6rem;
  margin: auto 1rem;
  font-size: 18px;
}
.fooddetail h1 {
  margin-top: 1rem;
}
.fooddetail__description {
  margin: 2rem 2.5rem;
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 0 1rem;
}
.fooddetail__action {
  position: absolute;
  bottom: 2.2rem;
  border: none;
  background-color: #ffc404;
  color: black;
  padding: 0.5rem 3rem;
  border-radius: 0.4rem;
  font-size: medium;
  font-weight: 700;
}
.fooddetail__action a {
  color: black;
  text-decoration: none;
}
@media (max-width: 600px) {
  .fooddetail {
    width: 90%;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .fooddetail h2 {
    position: static;
    margin: auto 1rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 15px;
  }

  .fooddetail h1 {
    margin-top: 0;
  }

  .fooddetail__action {
    position: static;
    margin: 1rem auto 0 auto;
    padding: 0.5rem 1.5rem;
    width: auto;
  }
}
